.container {
  display: flex;
  margin-left: 10vw;
  margin-top: 2rem;
  padding: 1rem;
}

.content {
  width: 85vw;
  padding: 1.5rem;
}

@media (max-width: 768px) {
  .container {
    margin-left: initial;
  }

  .content {
    padding: initial;
  }
}
